<h4>Add a Todo</h4>
<div class="my-3">
    <form (ngSubmit)="onSubmit()">
        <div class=" form-group mb-3">
            <label for="todoTitle" class="form-label">Title</label>
            <input type="text" [(ngModel)]="todoTitle" class="form-control" name="todoTitle"
                id="todoTitle" placeholder="Enter Todo title">
        </div>
        <div class="form-group mb-3">
            <label for="todoDescription" class="form-label">Description</label>
            <input type="text" [(ngModel)]="todoDescription" class="form-control" 
                name="todoDescription" id="todoDescription" placeholder="Enter Todo description">
        </div>
        <div class="form-group form-check mb-3">
            <input class="form-check-input" [(ngModel)]="todoActive" type="checkbox" value="" 
                name="todoActive" id="todoActive" checked>
            <label class="form-check-label" for="todoActive">
            Active
            </label>
        </div>
        <button type="submit" class="btn btn-primary btn-sm" >Add Todo</button>
    </form>
</div>

